.btn-primary {
  background-color: #28415b!important;
  transition: box-shadow 0.3s ease; // transition fluide

  &:hover {
    background-color: #28415b!important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25); // ombre douce au hover
  }
}

  
  .btn-light {
    background-color: white;
  
    &:hover {
      background-color: #28415b;
      color: white;
    }
  }
  
  .btn {
    border: 0px;
  }
  
  @media screen and (max-width: 767px) {
    div.col-md-6.animate__animated.animate__zoomIn {
    //   padding-left: 45px;
      padding-right: 45px;
    }
  
    .fixed-top-position {
      top: 500px;
    }
  }