@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/bootstrap-vue/src/index.scss';


.pt-150{
    padding-top: 150px;
    padding-bottom: 70px;

  }

  html, body{
    max-width: 100%;
    overflow-x: hidden;
  }
  .close{
    color:white!important;
  }

  @media only screen and (max-width: 768px) {
    [data-aos] {
      opacity: 1 !important;
      transform: none !important;
      pointer-events: all !important;
    }
  }
  